@use "../config/variables" as v;

/** 各号紹介 **/

.theme-sections {
    &_inner {
        max-width: 1088px;
        margin: 0 auto;
        padding: 140px 0;
        h2 {
            margin-bottom: 80px;
            font-size: 48px;
            font-weight: bold;
            color: v.$black;
        }
        .theme-list {
            margin-bottom: 20px;
            & > li {
                display: flex;
                margin-bottom: 60px;
                .themes-img {
                    width: 536px;
                }
                .themes-description {
                    padding: 14.5px 0 0 104px;
                    h3 {
                        margin-bottom: 20px;
                        font-size: 28px;
                        font-weight: bold;
                        color: v.$black;
                    }
                    .worlds {
                        margin-bottom: 40px;
                        li {
                            p {
                                font-size: 16px;
                                font-weight: medium;
                                color: v.$black;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
